{% load static %}
<header>
  <nav class="header">
    <div class="container">
      <div class="header__wrapper">
        <a class="header__logo" href="{% url 'tasks:index' %}">
          <img src="{% static 'img/logo.png' %}" class="logo" alt="">
        </a>
        <ul class="header__links">
          {% with request.resolver_match.view_name as view_name %}
          <a href="{% url 'tasks:tasks_all' %}">
            <li class="link{% if request.resolver_match.view_name  == 'tasks:tasks_all' %}
          active
          {% endif %}">Задания</li>
          </a>
        </ul>
        {% if request.user.is_authenticated %}
          <div class="header__user">
            <a href="{% url 'tasks:profile' user.username %}">
              <div class="user">{{ user.username }}</div>
            </a>
          </div>
        {% else %}
          <div class="header__auth">
            <a href="{% url 'users:login' %}">
              <div class="btn header__auth-btn {% if request.resolver_match.view_name  == 'users:login' %}
              active
              {% endif %}">Войти</div>
            </a>
            <a href="{% url 'users:signup' %}">
              <div class="btn header__auth-btn {% if request.resolver_match.view_name  == 'users:signup' %}
              active
              {% endif %}">Регистрация</div>
            </a>
          </div>
          {% endif %}
        {% endwith %}
        </div>
      </div>
    </div>
  </nav>
</header>