$bg-color-main: #1a1a1a;
$bg-color-second: #282828;
$bg-color-element: hsla(0, 0%, 100%, 0.1);
$bg-color-element-hover: hsla(0, 0%, 100%, 0.14);

$text-color-main: rgba(239, 241, 246, 0.75);
$text-color-thin: rgba(239, 241, 246, 0.25);
$color-white: white;

$color-accent: rgb(255, 161, 22);
$color-danger: rgba(255, 30, 22, 0.849);

$font-family: "Roboto Condensed", sans-serif;
$font-size: 16px;
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24), 0px 2px 8px rgba(0, 0, 0, 0.16);
$box-shadow-inest: inset 0 -1px 0 $bg-color-element;
$transition: all 0.25s ease;
