{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    {% for profile in top_users %}
    <ul>
      <li>{{ profile.user }}-----{{ profile.rating }}</li>
    </ul>
    {% endfor %}
  </div>

  {% for follow in following %}
    {% for action in follow.author.actions.all %}
      <ul>
      {% if action.action_url %}
        <a href="{{ action.action_url }}">{{ action.user }}  {{ action.description }}</a>
      {% endif %}
      </ul>
    {% endfor %}
  {% endfor %}
{% endblock %}