{% extends "base.html" %}
{% block title %}{{ author.username }}{% endblock %}
{% block content %}
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__logo logo">
        <span>Contest</span>App
      </div>
      <div class="auth__form">
        <form class='form' method="post" enctype="multipart/form-data">
          {% include 'includes/form_base.html' with form=user_form %}
          {% include 'includes/form_base.html' with form=profile_form %}
          <button type="submit" class="btn auth__btn">
            Изменить
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}