{% extends "base.html" %}
{% block title %}Обсуждение задачи{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-body">
          {% for comment in comments %}
            <ul>
              <p><a href="{% url 'tasks:profile' comment.author %}">{{ comment.author }}</a></p>
              <p>{{ comment.text }}</p>
              <p>{{ comment.count_likes }}</p>
              <li class="list-group-item">
                {% if not comment.is_request_user %}
                  <a
                    class="btn btn-lg btn-primary"
                    href="{% url 'tasks:post_like' task.slug comment.pk %}" role="button">
                    Лайк
                  </a>
                {% else %}
                  <a
                    class="btn btn-lg btn-light"
                    href="{% url 'tasks:post_unlike' task.slug comment.pk %}" role="button">
                    Отменить Лайк
                  </a>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
          <form method="post">
            {% include 'includes/form_base.html' %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Оставить комментарий
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}