{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="task__container">
    <div class="task__container__half">
      {{ task.content }}
      <a href="{% url 'tasks:task_talks' task.slug %}">
        <div class="btn">Обусждения</div>
      </a>

    </div>
    <div class="task__container__half">
      <form method="post">
        {% include 'includes/form_base.html' %}
        {% if answer %}
          {{ answer }}
        {% endif %}
        <button type="submit" class="btn">
          Проверить
        </button>
      </form>
    </div>
  </div>
{% endblock %}