{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
  <div class="signup">
    <div class="signup__wrapper">
      <div class="signup__logo logo">
        <span>Contest</span>App
      </div>
      <div class="signup__form">
        <form class='form' method="post">
          {% include 'includes/form_base.html' %}
          <button type="submit" class="btn signup__btn">
            Зарегистрироваться
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
